<h1><%= link_to 'Customers', customers_path %></h1>

<%= form_with scope: :customer, url: customers_path, method: :post, local: true do |form| %>
  <div class="row">
    <div class="col l8">
      <%= link_to 'Back', url_for(request.env.fetch('HTTP_REFERER', customers_path)), class: 'btn' %>
      <%= form.submit class: 'btn blue right' %>
    </div>
  </div>

  <% flash[:errors]&.each do |errors| %>
    <div class="row">
      <div class="col l8">
        <ul class="collection">
          <% errors.each do |error, message| %>
            <li class="collection-item">
              <span class="title red-text"><%= error.to_s.titleize %>:</span>
              <br>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col l8">
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle">person</i>
          <span class="title teal-text">Given Name:</span>
          <%= form.text_field :given_name %>
          <span class="title teal-text">Family Name:</span>
          <%= form.text_field :family_name %>
        </li>

        <li class="collection-item avatar">
          <i class="material-icons circle">email</i>
          <span class="title teal-text">Email Address:</span>
          <%= form.text_field :email_address %>
        </li>

        <li class="collection-item avatar">
          <i class="material-icons circle">phone</i>
          <span class="title teal-text">Phone Number:</span>
          <%= form.text_field :phone_number %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
